


  <div class="container-fluid">
    <h1> <a routerLink="/course">Back to Content List</a></h1>
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let module of modules">
            <a class="nav-link"  [ngClass]="{'active': module.id == params.moduleId}" 
            href="javascript:void(0)" (click)="selectModule(module)">{{module.title}}</a>
            <br/>
          </li>
          
        </ul>
      <br>
      </div>

      <div class="col-sm-10">
        <ul class="nav nav-tabs">
          <li class="nav-item" *ngFor="let lesson of lessons">
            <a class="nav-link" (click)="selectLesson(lesson)" href="javascript:void(0)"
            [ngClass]="{'active': lesson.id == params.lessonId}">{{lesson.title}}</a>
          </li>
        </ul>
        <br>
        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let topic of topics">
            <a class="nav-link" (click)="selectTopic(topic)" href="javascript:void(0)"
            [ngClass]="{'active': topic.id == params.topicId}">{{topic.title}}</a>
          </li>
        </ul>

        <!-- <option value="HEAD">Heading</option>
        <option value="PARA">paragraph</option>
        <option value="LIST">list</option>
        <option value="IMAGE">Image</option>
        <option value="LINK">link</option> -->

        <div class="border border-primary" style="padding:20px; margin:3px"
        *ngFor="let widget of widgets" >
        <div *ngIf = "widget.type==='HEAD'">
           <h1 *ngIf = "widget.size===1">{{widget.text}}</h1>
           <h2 *ngIf = "widget.size===2">{{widget.text}}</h2>
           <h3 *ngIf = "widget.size===3">{{widget.text}}</h3>

        </div>

        <div *ngIf = "widget.type==='PARA'">
            <p>{{widget.para}}</p>
          </div>

          <div *ngIf = "widget.type==='LIST'">
              <ul *ngIf = "widget.list==='ul'">
                <li *ngFor = "let item of widget.items">
                  {{item}}
                </li>
              </ul>

              <ol *ngIf = "widget.list==='li'">
                  <li *ngFor = "let item of widget.items ">
                      {{item}}
                    </li>
              </ol>
            </div>

            <div *ngIf = "widget.type==='IMAGE'">
                <img height="200" width="300" src={{widget.src}}/>
              </div>

              <div *ngIf = "widget.type==='LINK'">
                  <a href={{widget.url}}>{{widget.title}}</a>
                </div>


        </div>
        
        <div class="border border-primary" style="padding:20px; margin:3px">
          <div class="row">
            <h3 class="col-4"> Heading Widget </h3>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-down" onclick="location.href='#'" name="down"></i>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-up" onclick="location.href='#'" name="up"></i>
            <select class="col-2" name="selectWidget">
              <option value="heading">heading</option>
              <option value="paragraph">paragraph</option>
              <option value="list">list</option>
              <option value="image">image</option>
              <option value="link">link</option>
            </select>
            <i class="btn col-2 fas fa-2x fa-trash-alt" onclick="location.href='#'" name="delete"></i>
          </div>
          <br>
          <input class="form-control" placeholder="Heading text">
          <br>
          <select class="form-control" name="selectHeadingSize">
              <option value="heading 1">heading 1</option>
              <option value="heading 2">heading 2</option>
              <option value="heading 3">heading 3</option>
          </select>
          <br>
          <input class="form-control" placeholder="Widget Name">
          <br>
          <h3>Preview</h3>
          <h1>Heading text</h1>
        </div>

        <div class="border border-primary" style="padding:20px; margin:3px">
          <div class="row">
            <h3 class="col-4"> Text Widget </h3>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-down" onclick="location.href='#'" name="down"></i>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-up" onclick="location.href='#'" name="up"></i>
            <select class="col-2" name="selectWidget">
              <option value="heading">heading</option>
              <option value="paragraph" selected>paragraph</option>
              <option value="list">list</option>
              <option value="image">image</option>
              <option value="link">link</option>
            </select>
            <i class="btn col-2 fas fa-2x fa-trash-alt" onclick="location.href='#'" name="delete"></i>
          </div>
          <br>
          <label for="textBox">Enter text below and use bottom-right corner of the box to resize vertically</label>
          <textarea class="form-control" placeholder="paragraph text" id="textBox"></textarea>
          <br>
          <input class="form-control" placeholder="Widget Name" name="paragraphWidgetName">
          <br>
          <h3>Preview</h3>
          <p>paragraph text</p>
        </div>

        <div class="border border-primary" style="padding:20px; margin:3px">
          <div class="row">
            <h3 class="col-4"> List Widget </h3>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-down" onclick="location.href='#'" name="down"></i>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-up" onclick="location.href='#'" name="up"></i>
            <select class="col-2" name="selectWidget">
              <option value="heading">heading</option>
              <option value="paragraph">paragraph</option>
              <option value="list" selected>list</option>
              <option value="image">image</option>
              <option value="link">link</option>
            </select>
            <i class="btn col-2 fas fa-2x fa-trash-alt" onclick="location.href='#'" name="delete"></i>
          </div>
          <br>
          <label for="listBox">Enter one list item each row and use bottom-right corner of the box to resize vertically</label>
          <textarea class="form-control" placeholder="put
each item
in a seperate row" id="listBox">
put
each item
in a row
</textarea>
          <br>
          <select class="form-control" name="selectHeadingSize">
              <option value="ordered list">ordered list</option>
              <option value="unordered list" active>unordered list"</option>
          </select>
          <br>
          <input class="form-control" placeholder="Widget Name" name="listWidgetName">
          <br>
          <h3>Preview</h3>
          <ul>
            <li>put</li>
            <li>each item</li>
            <li>in a seperate row</li>
          </ul>
        </div>

        <div class="border border-primary" style="padding:20px; margin:3px">
          <div class="row">
            <h3 class="col-4"> 

            Image Widget </h3>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-down" onclick="location.href='#'" name="down"></i>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-up" onclick="location.href='#'" name="up"></i>
            <select class="col-2" name="selectWidget">
              <option value="heading">heading</option>
              <option value="paragraph">paragraph</option>
              <option value="list">list</option>
              <option value="image" selected>image</option>
              <option value="link">link</option>
            </select>
            <i class="btn col-2 fas fa-2x fa-trash-alt" onclick="location.href='#'" name="delete"></i>
          </div>
          <br>
          <input class="form-control" placeholder="iamge url" value="https://cdn1-www.dogtime.com/assets/uploads/gallery/siberian-husky-dog-breed-pictures/siberian-husky-dog-breed-pictures-9.jpg" name="imgUrl">
          <br>
          <input class="form-control" name="imageWidgetName" placeholder="widget name">
          <br>
          <h3>Preview</h3>
          <img height="200" width="300" src="https://cdn1-www.dogtime.com/assets/uploads/gallery/siberian-husky-dog-breed-pictures/siberian-husky-dog-breed-pictures-9.jpg" alt="cannot load img from internet">
        </div>

        <div class="border border-primary" style="padding:20px; margin:3px">
          <div class="row">
            <h3 class="col-4"> 

            Link Widget </h3>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-down" onclick="location.href='#'" name="down"></i>
            <i class="col-2 btn fas fa-2x fa-arrow-alt-circle-up" onclick="location.href='#'" name="up"></i>
            <select class="col-2" name="selectWidget">
              <option value="heading">heading</option>
              <option value="paragraph">paragraph</option>
              <option value="list">list</option>
              <option value="image">image</option>
              <option value="link" selected>link</option>
            </select>
            <i class="btn col-2 fas fa-2x fa-trash-alt" onclick="location.href='#'" name="delete"></i>
          </div>
          <br>
          <input class="form-control" placeholder="link url" value="https://www.youtube.com/" name="linkUrl">
          <br>
          <input class="form-control" placeholder="link text" value="youtube" name="linkText">
          <br>
          <input class="form-control" placeholder="widget name" name="linkWidgetName">
          <br>
          <h3>Preview</h3>
          <a href="https://www.youtube.com/">youtube</a>
        </div>

      </div>
    </div>
  </div>
