


  <div class="container-fluid">
    <h1> <a routerLink="/course">Back to Content List</a></h1>
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let module of modules">
            <a class="nav-link"  [ngClass]="{'active': module.id == params.moduleId}" 
            href="javascript:void(0)" (click)="selectModule(module)">{{module.title}}</a>
            <br/>
          </li>
          
        </ul>
      <br>
      </div>

      <div class="col-sm-10">
        <ul class="nav nav-tabs">
          <li class="nav-item" *ngFor="let lesson of lessons">
            <a class="nav-link" (click)="selectLesson(lesson)" href="javascript:void(0)"
            [ngClass]="{'active': lesson.id == params.lessonId}">{{lesson.title}}</a>
          </li>
        </ul>
        <br>
        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let topic of topics">
            <a class="nav-link" (click)="selectTopic(topic)" href="javascript:void(0)"
            [ngClass]="{'active': topic.id == params.topicId}">{{topic.title}}</a>
          </li>
        </ul>

        <!-- <option value="HEAD">Heading</option>
        <option value="PARA">paragraph</option>
        <option value="LIST">list</option>
        <option value="IMAGE">Image</option>
        <option value="LINK">link</option> -->

        <div class="border border-primary" style="padding:20px; margin:3px"
        *ngFor="let widget of widgets" >
        <div *ngIf = "widget.type==='HEAD'">
           <h1 *ngIf = "widget.size===1">{{widget.text}}</h1>
           <h2 *ngIf = "widget.size===2">{{widget.text}}</h2>
           <h3 *ngIf = "widget.size===3">{{widget.text}}</h3>

        </div>

        <div *ngIf = "widget.type==='PARA'">
            <p>{{widget.para}}</p>
          </div>

          <div *ngIf = "widget.type==='LIST'">
              <ul *ngIf = "widget.list==='ul'">
                <li *ngFor = "let item of widget.items">
                  {{item}}
                </li>
              </ul>

              <ol *ngIf = "widget.list==='ol'">
                  <li *ngFor = "let item of widget.items ">
                      {{item}}
                    </li>
              </ol>
            </div>

            <div *ngIf = "widget.type==='IMAGE'">
                <img height="200" width="300" src={{widget.src}}/>
              </div>

              <div *ngIf = "widget.type==='LINK'">
                  <a href={{widget.url}}>{{widget.title}}</a>
                </div>


        </div>
        


      </div>
    </div>
  </div>
