


<div class="container-fluid" style="padding-top: 60px">
<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-info"> <!--use navbar-expand to make following collapse mobile-only -->
  <a class="navbar-brand" routerLink="/">
   Client View</a>
  <button class="navbar-toggler"
           type="button"
           data-toggle="collapse"
           data-target="#MyNavbarNavDropdown">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="MyNavbarNavDropdown"> <!--use id to make dropdown need 2 js libraries -->
     <ul class="navbar-nav">
       <li class="nav-item active">
         <a class="nav-link" routerLink="/">Home</a>
       </li>

       <li class="nav-item active">
         <a class="nav-link" >Log in</a>
       </li>

       <li class="nav-item active">
         <a class="nav-link" >Profile</a>
       </li>
       <li class="nav-item active" >
         <input placeholder="search content Title" class="form-control" id="createNewCourse">
       </li>
       &nbsp;
       <li class="nav-item active" >
         <span class="fas fa-search fa-2x"> <!-- onclick workds-->
         </span>
       </li>
     </ul>
  </div>

</nav>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Owner Username</th>
            <th>modified at</th>
            <th>Owner Fullname</th>
        </tr>

    </thead>

    <tbody>
        <tr *ngFor="let course of courses">
            <td class="form-control btn btn-primary" style="overflow:hidden;white-space: nowrap">{{course.title}}</td>
            <td>{{course.username.split(',')[2]}}</td>
            <td></td>
            <td>{{course.username.split(',')[0]}} {{course.username.split(',')[1]}}</td>
        </tr>
    </tbody>
  </table>
</div>
<p>
</p>
</div>
